html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0 auto;
}

body {
    background-color: #F9F9F9;
}

/*nav*/

.navbar {
    padding-top: 46px;
}

.container {
    max-width: 1440px;
    width: 100%;
}

.nav__container {
    display: flex;
    width: 1251px;
}

.left {
    display: flex;
    margin: 0;
}

.logo__grupe {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.logo {
    margin: 0;
}

.name__logo {
    display: none;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 445.46px;
    margin-left: 55px;
}

.nav__list {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.header__burger-btn {
    display: none;
    background-color: #F9F9F9;
    position: relative;
    width: 41px;
    height: 41px;
    border: none;
    padding: 0;
    align-items: center;
}

.burger {
    position: absolute;
    width: 31px;
    height: 2px;
    background-color: black;
    left: 5px;
}

.burger:nth-child(1) {
    transform: translateY(11px);
}

.burger:nth-child(3) {
    transform: translateY(-11px);
}

.nav.open .burger:nth-child(1) {
    transform: translateY(0) rotate(45deg);
}

.nav.open .burger:nth-child(2) {
    opacity: 0;
}

.nav.open .burger:nth-child(3) {
    transform: translateY(0) rotate(-45deg);
}

.nav__item {}

.nav__link {
    color: rgb(96, 96, 96);
    font-family: Inter, sans-serif;
    font-size: 17.83px;
    font-weight: 600;
    line-height: 26.74px;
    text-transform: uppercase;
    text-decoration: none;
    margin: 0;
}
.overlay{
    position: relative;
        width: 100%;
        height: 110px;
        background-color: #f9f9f9;
        display: none; /* Скрываем поле по умолчанию */
        /* Уровень под меню */
}

.nav__link:hover {
    scale: 105%;
    color: black;
}

.search__connect {
    display: flex;
    flex-direction: row;
    gap: 30.03px;
    margin-left: 115px;
}

#search-form {
    display: flex;
    position: relative;
}

#search-form img {
    position: absolute;
    width: 21.51px;
    height: 21.51px;
    top: 17px;
    left: 23px;
}

#search-input {
    border-radius: 14.88px;
    background-color: #EDEDED;
    border: none;
    width: 348.45px;
    height: 57px;
    text-align: center;
    color: rgb(194, 195, 203);
    font-family: Poppins, serif;
    font-size: 15.71px;
    font-weight: 500;
    line-height: 117.5%;
    padding: 1px 11px 1px 0px;
}

#search-input:hover {
    color: rgb(0, 0, 0);
}

.connect {
    width: 199.52px;
    height: 57.34px;
    border-radius: 16.17px;
    background: #141416;
    color: #FFFFFF;
    font-family: Inter, sans-serif;
    font-size: 16.17px;
    font-weight: 600;
    line-height: 24.26px;
    text-transform: uppercase;
    cursor: pointer;
    border: none;
}

.connect:hover {
    scale: 105%;
}

/*media*/

/*nav*/

@media (max-width: 1281px) {
    .nav__container {
        margin: 0;
        width: 100%;
        justify-content: space-between;
        padding: 0 15px;
    }

    .search__connect {
        margin: 0;
    }

}

@media (max-width: 1195px) {
    .nav {
        margin-left: 15px;
        width: 340px;
    }

    .nav__list {
        width: 100%;
    }

    .search__connect {
        gap: 15px;
    }
}

@media (max-width: 1024px) {
    .container {
        max-width: 1024px;
    }

    .left {
        align-items: center;
        flex-direction: row;
        gap: 20px;
    }

    .logo img {
        width: 37px;
        height: 37px;
    }

    .nav {
        width: 320px;
    }

    .nav__link {
        font-size: 12.68px;
        line-height: 19.02px;
    }

    .search__connect {
        gap: 20px;
    }

    #search-input {
        width: 247.81px;
        height: 40.54px;
        font-size: 11.17px;
        line-height: 117.5%;
    }

    #search-form img {
        width: 15.3px;
        height: 15.3px;
        top: 13px;
        left: 14px;
    }

    .connect {
        width: 142.5px;
        height: 41px;
        font-size: 11.5px;
        line-height: 17.25px;
    }
}

@media (max-width: 845px) {
    .container {
        max-width: 845px;
    }

    .nav__container {
        display: block;
    }

    .left {
        width: 100%;
        justify-content: space-between;
        margin-bottom: 20px;
        height: 50px;
    }

    .logo__grupe {
        width: 100%;
        gap: 11px;
    }

    .logo img {
        width: 46px;
        height: 46px;
    }

    .name__logo {
        display: flex;
        margin: 0;
        align-items: center;
    }

    .name__logo img {
        width: 88px;
        height: 28px;
    }
    .nav{
        display: flex;
        flex-direction: column;
        align-items: end;
        height: 41px;
        position: absolute;
        right: 15px;
        width: 100%;
    }

    .nav__list{
        display: none;
        margin: 0;
        flex-direction: column;
    }

    .header__burger-btn {
        display: flex;
        margin: 0;
    }

    .header__line {
        height: 2px;
        display: flex;
    }

    .line {

        height: 0.5px;
        width: 845px;
        background-color: #CBCBCB;
        margin: 0 auto;
    }

    .search__connect {
        display: none;
    }

    .nav.open .nav__list {
        display: flex;
        flex-direction: column;
        gap: 10px;
        position: relative;
        top: 35px;
        width: 100%;
        left: 30px;
        
    }

    .nav.open .header__burger-btn{
        margin-top: 100px;
    }

    .nav.open .header__line{
        display: none;
    }
    .nav.open .overlay{
        position: fixed;
        display: flex;
        height: 110px;
        top: 100px;
    }
}